<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>全部物品</title>
	<link rel="stylesheet" th:href="@{/static/css/layout.css}" type="text/css" media="screen" />
	<link rel="stylesheet" th:href="@{/static/css/hoverbox.css}" type="text/css" media="screen, projection" />
	
	<script th:src="@{/static/js/jquery-1.5.2.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/js/hideshow.js}" type="text/javascript"></script>
	<script th:src="@{/staitc/js/jquery.tablesorter.min.js}" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/static/js/jquery.equalHeight.js}"></script>

    <script th:src="@{/static/ckeditor/ckeditor.js}"></script>
	<script th:src="@{/static/ckeditor/adapters/jquery.js}"></script> 

	<script type="text/javascript">
	$(document).ready(function() 
    	{ 
      	  $(".tablesorter").tablesorter(); 
   	 } 
	);
	$(document).ready(function() {

	//When page loads...
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content

	//On Click Event
	$("ul.tabs li").click(function() {

		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content

		var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active ID content
		return false;
	});

});
    </script>
    <script type="text/javascript">
    $(function(){
        $('.column').equalHeight();
    });
    
    

  //分页开始
	var currentPage =[[${page}]];
	var totalPage = [[${totalPage}]]
	
	//第一页
	function firstPage(){
		if(currentPage == 1){
			alert("已经是第一页数据");
			return false;
		}else{
		    var formElement = document.getElementById("first");
		    formElement.href = "/prolist/page/1";
			return true;
		}
	}
	
	
	//下一页
	function nextPage(){
		if(currentPage == totalPage){
			alert("已经是最后一页数据");
			return false;
		}else{
		    var formElement = document.getElementById("next");
		    var nextpage=currentPage+1;
		    formElement.href = "/prolist/page/"+nextpage;
			return true;
		}
	}
	
	//上一页
	function previousPage(){
		if(currentPage == 1){
			alert("已经是第一页数据");
			return false;
		}else{
		    var formElement = document.getElementById("pre");
		    var prepage=currentPage-1;
		    formElement.href = "/prolist/page/"+prepage;
			return true;
		}
	}
	
	//尾页
	function lastPage(){
		if(currentPage == totalPage){
			alert("已经是最后一页数据");
			return false;
		}else{
		    var formElement = document.getElementById("last");
		    formElement.href = "/prolist/page/"+totalPage;
			return true;
		}
	}
    
    
</script>
</head>


<body>

<div th:include="/bg/top::admintop"></div>
	
	<section id="secondary_bar">
		<div class="user">
			<p>admin</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a th:href="@{/admin}">后台管理中心</a> <div class="breadcrumb_divider"></div> <a class="current">管理物品</a></article>
		</div>
	</section><!-- end of secondary bar -->

<div th:include="/bg/leftmenu::leftmenu"></div>

	<section id="main" class="column">
		
		<article class="module width_full">
		<header><h3 class="tabs_involved">物品管理列表</h3>
		</header>
		<div class="tab_container">
		     <p>
			        <form id="form1" name="form1" method="post" th:action="@{/searchprolist/page/1}" target="_self" onsubmit="return search(this)">
				        &nbsp;&nbsp;&nbsp;<input style="padding-left:8px;width:200px;height:36px;border-radius:5px;" type="text" onfocus="this.placeholder=''" onblur="this.placeholder='用户'" name="keyword" id="keywords" placeholder="物品名称" />
				        &nbsp;<input style="height:36px;" type="submit" name="button" id="button" value="搜索" />
		            </form>
			</p>
			<div id="tab1" class="tab_content">
			<th:block th:if="${#lists.size(all) gt 0}">
				<table class="tablesorter" cellspacing="0" style="margin:0"> 
					<thead> 
						<tr>  
			    				<th>ID</th>
			    				<th>图片</th>
			    				<th>捐献者</th>
			    				<th>类别</th>
			    				<th>位置</th>
			    				<th>时间</th>
                                <th>审核</th>
			    				<th>状态</th>
			    				<th>存量</th>
			    				<th>操作</th>
						</tr> 
					</thead>
					<tbody>
					<th:block th:if="${all != null}" th:each="all:${all}">
						<tr>
                                <td th:text="${all.proid}"></td> 
			    				<td>
			    				<ul class="hoverbox">
			    				<li>
			    				<a href="#"><img height="40px" th:src="@{'/static/images/pros/'+${all.propic}}" alt="description"><img th:src="@{'/static/images/pros/'+${all.propic}}" alt="" class="preview"></a>
			    				</li>
                                </ul>
			    				</td>		
			    				<td th:text="${all.username}"></td>
			    				<td th:switch="${all.protype}">
			    				    <span th:case="jj">家具</span>
			    				    <span th:case="jd">家电</span>
			    				    <span th:case="yw">衣物</span>
			    				    <span th:case="sp">私品</span>
			    				    <span th:case="cw">宠物</span>
			    				    <span th:case="sj">书集</span>
			    				</td> 
			    				<td th:switch="${all.pos}">
	                                <span th:case="1" style="color:red;">首页</span>
	                                <span th:case="0" style="color:blue;">分类页</span>
			    				</td> 
			    				<td style="width:150px;word-wrap: break-word;word-break: break-all;" th:text="${#dates.format(all.pubtime, 'yyyy-MM-dd hh:mm:ss')}"></td>                                 
			    				<td th:switch="${all.state}">
			    				    <span th:case="1" style="color:red;">审核</span>
	                                <span th:case="0" style="color:blue;">未审核</span>
                                </td> 
                                <td th:switch="${all.setorder}">
                                    <span th:case="1" style="color:red;">已订</span>
	                                <span th:case="0" style="color:blue;">未订</span>
                                </td>
			    				<td style="width:10%;word-wrap: break-word;word-break: break-all;" th:text="${all.remainnum}">
			    				</td> 
			    				<!-- <td>
			    				    <input type="image" th:src="@{/static/images/common/icn_alert_success.png}" title="Edit" onClick="window.location.href='/pro_sh/id/'+${all.proid}">
			    				    <input type="image" th:src="@{/static/images/common/pos.png}" title="pos" onClick="window.location.href='/pro_pos/id/'+${all.proid}">
			    				    <input type="image" th:src="@{/static/images/common/icn_trash.png}" title="Trash" onClick="window.location.href='/pro_del/id/'+${all.proid}">
			    			   </td> -->
			    			   <td>
			    				    <a th:href="@{'/pro_sh/proid/'+${all.proid}}">审核</a>
			    				    <a th:href="@{'/pro_pos/proid/'+${all.proid}}">位置</a>
			    				    <a th:href="@{'/pro_del/proid/'+${all.proid}}">删除</a>
			    			   </td>
						</tr>
					</th:block>
					</tbody>
					<tfoot> 
						<tr>  
			    			<td align='center' colspan="10">
			    			<p id="pagenav">
							    <br> &nbsp;&nbsp; 共<span th:text="${totalRecord}"></span>条记录,每页<span th:text="${pagesize}"></span>条,共<span th:text="${totalPage}"></span>页,&nbsp;&nbsp;当前第<span th:text="${page}"></span>页&nbsp;&nbsp;
							    <a id="first" href="javascript:void(0);" onclick="firstPage();">首页</a>&nbsp;&nbsp; 
								<a id="pre" href="javascript:void(0);" onclick="previousPage();">上一页</a>&nbsp;&nbsp;
								<a id="next" href="javascript:void(0);" onclick="nextPage();">下一页</a>&nbsp;&nbsp;
								<a id="last" href="javascript:void(0);" onblur="lastPage();">尾页</a>			
							</p>
			    			</td>
						</tr> 
					</tfoot>
				</table>
			</th:block>
				
			<th:block th:if="${#lists.size(all) eq 0}">
					<table border='0' width='90%' cellpadding='10' cellspacing='0' align='center' style="margin:20px auto;">
						<tr>
							<td style="border-bottom:none;font:18px 'Microsoft Yahei';text-align: left;">还没有任何分享物品！</td>
						</tr>
					</table>
            </th:block>
			</div><!-- end of #tab1 -->
			
			<div id="tab2" class="tab_content">

			</div><!-- end of #tab2 -->
			
		</div><!-- end of .tab_container -->
		
		</article><!-- end of content manager article -->
		<div class="spacer"></div>
	</section>


</body>

</html>
