<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<div th:fragment="footer">
	<div class="bg-success" style="padding-bottom:30px;">
	<h6 class="bg-light text-left" style="background:rgb(245,245,245);padding:15px 0px 10px 30px;">
	<a th:href="@{/about.html}" style="color:rgb(153,102,0);text-decoration:none;" onmouseover="this.style.color='red';" onmouseout="this.style.color='rgb(153,102,0)';">关于本站</a> <font style="color:rgb(153,102,0);">｜</font>
	<a id="ly" href="javascript:void(0)" onclick="alert('未开通！')" style="color:rgb(153,102,0);text-decoration:none;" onmouseover="this.style.color='red';" onmouseout="this.style.color='rgb(153,102,0)';">留&nbsp;言</a>
	<span id="span_hits">
	
	</span>
	</h6>
	<ul id="ulink">
	    <li><h4 style="padding-left:30px;text-align:left;" class="text-black">友情链接:</h4></li>
	    <li class="ulj text-black"><a target="_blank" style="padding-left:60px;text-decoration:none;color:black;" href="https://www.freecycle.org/" onmouseover="this.style.color='white';" onmouseout="this.style.color='black';">Freecycle(全球捐赠网)</a></li>
	</ul>
	
	<h5 class="text-center text-black" style="padding-bottom:10px;">个人闲置物品分享平台</h5>
	<p class="text-center text-black"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2556136041&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:379215781:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a></p>
	<p class="text-center text-black">Copyright © <span id="bq"></span> www.51mfgs.com  版权所有 粤ICP备18045267号-1</p>
	<script>
		var d = new Date();
		var x = document.getElementById("bq");
		x.innerHTML=d.getFullYear();
	</script>
	</div>
</div>
</body>
</html>