<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>top</title>

</head>

<body>
<div th:fragment="header">
	<div id="div_nav">
	<ul id="ul_nav">
	<li class="li_nav" style="padding-top:3px"><img width="100%" th:src="@{/static/images/common/logo13.png}"></li>
	<li class="li_nav" id="li_top"><a style="text-decoration:none;" th:href="@{/index.html}">首<span class='space_pad'></span>页</a></li>
	<li class="li_nav" id="li_nav_this"><a style="text-decoration:none;" th:href="@{/jj.html/page/1}">家<span class='space_pad'></span>具</a></li>
	<li class="li_nav"><a style="text-decoration:none;" th:href="@{/jd.html/page/1}">家<span class='space_pad'></span>电</a></li>
	<li class="li_nav"><a style="text-decoration:none;" th:href="@{/yw.html/page/1}">衣<span class='space_pad'></span>物</a></li>
	<li class="li_nav"><a style="text-decoration:none;" th:href="@{/sp.html/page/1}">私<span class='space_pad'></span>品</a></li>
	<li class="li_nav"><a style="text-decoration:none;" th:href="@{/sj.html/page/1}">书<span class='space_pad'></span>刊</a></li>
	<li class="li_nav"><a style="text-decoration:none;" th:href="@{/cw.html/page/1}">宠<span class='space_pad'></span>物</a></li>
	</ul>
	</div>
</div>
</body>
</html>