<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mfgs.mapper.ProMapper">
  
  <resultMap id="BaseResultMap" type="com.mfgs.pojo.Pro">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="proid" jdbcType="INTEGER" property="proid" />
    <result column="pos" jdbcType="INTEGER" property="pos" />
    <result column="protype" jdbcType="VARCHAR" property="protype" />
    <result column="userdig" jdbcType="INTEGER" property="userdig" />
    <result column="proname" jdbcType="VARCHAR" property="proname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="hits" jdbcType="INTEGER" property="hits" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="useraddress" jdbcType="VARCHAR" property="useraddress" />
    <result column="pubaddress" jdbcType="VARCHAR" property="pubaddress" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="remainnum" jdbcType="INTEGER" property="remainnum" />
    <result column="proprice" jdbcType="INTEGER" property="proprice" />
    <result column="propic" jdbcType="VARCHAR" property="propic" />
    <result column="procon" jdbcType="VARCHAR" property="procon" />
    <result column="pubtime" jdbcType="TIMESTAMP" property="pubtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="setorder" jdbcType="INTEGER" property="setorder" />
    <result column="sendstate" jdbcType="INTEGER" property="sendstate" />
    <result column="proabout" jdbcType="LONGVARCHAR" property="proabout" />
  </resultMap>
</mapper>